.isActive {
  display: initial;
}

.isNotActive {
  display: none;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  background: #1890ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0.7;
}

.ant-upload.ant-upload-drag {
  border: none;
}

.ant-upload.ant-upload-drag button {
  width: 100%;
}

.ant-upload.ant-upload-drag .ant-upload.ant-upload-btn {
  padding: 0;
  margin: 0;
}

.ant-btn-round.ant-btn-lg.floating-action-button {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 45px !important;
  height: 45px !important;
  border-radius: 25px;
  margin: 5px;
}

.floating-action-buttons-wrapper {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.percentage-chart-wrapper {
  position: absolute;
  bottom: 0px;
}

.visualization-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 250px;
  padding-right: 150px;
}

.landing-page-wrapper h1 {
  text-align: center;
  font-size: 4rem;
}

.top-bar-wrapper {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-bar-wrapper .menu {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #1890ff;
  margin-bottom: 5px;
}

.top-bar-wrapper .menu .ant-upload.ant-upload-drag {
  padding: 0;
  margin: 0;
}

.top-bar-wrapper .menu .ant-select-search.ant-select-search--inline {
  background: #096dd9;
  color: #fff;
}

.top-bar-wrapper .menu .ant-select-selection__placeholder,
.top-bar-wrapper .menu .search-icon,
.top-bar-wrapper .menu .ant-select-search__field__mirror,
.top-bar-wrapper .ant-select-search__field.ant-input-affix-wrapper,
.top-bar-wrapper .ant-select-search__field.ant-input-affix-wrapper ant-input {
  color: #e6f7ff;
}

.top-bar-wrapper .menu .ant-input {
  border: none;
}

.top-bar-wrapper .menu .ant-select {
  margin-right: 15px;
}

.top-bar-wrapper .extra {
  display: flex;
  text-align: left;
  padding-top: 5px;
}

.description-wrapper {
  position: absolute;
  border-radius: 0 0 10px 10px;
  width: 300px;
  right: 15px;
  top: 15px;
  background-color: #096dd9;
  padding-bottom: 30px;
  border-radius: 10px;
}

.description-wrapper .ant-typography {
  color: #fff;
  padding: 5px 15px;
}

.description-wrapper .actions {
  float: right;
  margin-right: 15px;
}

.description-wrapper .ant-btn-link {
  border: none;
}

.description-wrapper h4.ant-typography {
  padding: 10px 15px 5px 15px;
  background-color: #1890ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.1rem;
}

.loader-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #ffffffdd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
}

.loader-wrapper .content {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #fff;
}

.tooltip {
  fill: #fff;
  text-anchor: middle;
}

.tooltip-wrapper {
  fill: #1890ff;
  opacity: 0.9;
  border-radius: 5px;
}

.edge {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 0.7;
}

#extracellular_region {
  fill: #edecfc;
  stroke-width: 0;
}

#plasma_membrane {
  stroke: #7e9a82;
  fill: #f1f4f1;
  stroke-width: 1;
}

#cytoplasm {
  stroke: #7e9a82;
  fill: #fff;
  stroke-width: 1;
}

.group_component circle {
  fill: #fff;
  stroke: #d29be3;
  stroke-width: 1;
}

.group_component circle.membrane {
  fill: #f6ebf9;
}

.group_component text {
  fill: #74278c;
  font-size: 0.7rem;
  text-anchor: middle;
}

.toolbox {
  padding: 5px 15px;
  background-color: #ffffffaa;
  border-radius: 10px;
}

.toolbox h4.ant-typography {
  font-size: 1rem;
}

.color-scheme-selector {
  position: absolute;
  top: 75px;
  left: 15px;
  padding-left: 0;
}

.hidden.group_component,
.hidden.node,
.hidden.edge {
  opacity: 0;
  fill-opacity: 0;
  stroke-opacity: 0;
}

.navigation {
  margin-bottom: 30px;
}
